

/*Variables for the logo animation*/
@import url('https://fonts.googleapis.com/css?family=Merriweather');


$background-animation-duration: 40s;
$main-pink: #FF0072;
$color-collection: ('red', 'purple', 'orange', 'magenta', 'green', 'cyan');
$intro-time:3s;
$menu-primary-color: $main-pink;
$main-bezier: cubic-bezier(.23,1,.32,1);

@mixin pink-border{
	border:3px solid $main-pink;
	border-radius:2px
}
@mixin left-after-addon{
	position: absolute;
		z-index: -1;
		content: "";
		right: -10%;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: inherit;
		-webkit-transform: skewX(-5deg);
		-moz-transform: skewX(-5deg);
		-ms-transform: skewX(-5deg);
		transform: skewX(-5deg);
}

@mixin titles{
	display:table;
h1,h2{
			display: inherit;
			margin:10px;
			background:white;
			padding:10px;
			
			}
		h1{
			padding:15px
		}
}

@mixin right-before-addon{
	z-index: -1;
	content: "";
	position: absolute;
	left: -15%;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: inherit;
	-webkit-transform: skewX(-5deg);
	-moz-transform: skewX(-5deg);
	-ms-transform: skewX(-5deg);
	transform: skewX(-5deg);
		
}
//  Author: Rafal Bromirski
//  www: http://rafalbromirski.com/
//  github: http://github.com/rafalbromirski/sass-mediaqueries
//
//  Licensed under a MIT License
//
//  Version:
//  1.6.1

// --- generator ---------------------------------------------------------------

@mixin mq($args...) {
  $media-type: 'only screen';
  $media-type-key: 'media-type';
  $args: keywords($args);
  $expr: '';

  @if map-has-key($args, $media-type-key) {
    $media-type: map-get($args, $media-type-key);
    $args: map-remove($args, $media-type-key);
  }

  @each $key, $value in $args {
    @if $value {
      $expr: "#{$expr} and (#{$key}: #{$value})";
    }
  }

  @media #{$media-type} #{$expr} {
    @content;
  }
}

// --- screen ------------------------------------------------------------------

@mixin screen($min, $max, $orientation: false) {
  @include mq($min-width: $min, $max-width: $max, $orientation: $orientation) {
    @content;
  }
}

@mixin max-screen($max) {
  @include mq($max-width: $max) {
    @content;
  }
}

@mixin min-screen($min) {
  @include mq($min-width: $min) {
    @content;
  }
}

@mixin screen-height($min, $max, $orientation: false) {
  @include mq($min-height: $min, $max-height: $max, $orientation: $orientation) {
    @content;
  }
}

@mixin max-screen-height($max) {
  @include mq($max-height: $max) {
    @content;
  }
}

@mixin min-screen-height($min) {
  @include mq($min-height: $min) {
    @content;
  }
}

// --- hdpi --------------------------------------------------------------------

@mixin hdpi($ratio: 1.3) {
  @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
  only screen and (min-resolution: #{round($ratio*96)}dpi) {
    @content;
  }
}

// --- hdtv --------------------------------------------------------------------

@mixin hdtv($standard: '1080') {
  $min-width: false;
  $min-height: false;

  $standards: ('720p', 1280px, 720px)
              ('1080', 1920px, 1080px)
              ('2K', 2048px, 1080px)
              ('4K', 4096px, 2160px);

  @each $s in $standards {
    @if $standard == nth($s, 1) {
      $min-width: nth($s, 2);
      $min-height: nth($s, 3);
    }
  }

  @include mq(
    $min-device-width: $min-width,
    $min-device-height: $min-height,
    $min-width: $min-width,
    $min-height: $min-height
  ) {
    @content;
  }
}

// --- iphone4 -----------------------------------------------------------------

@mixin iphone4($orientation: false) {
  $min: 320px;
  $max: 480px;
  $pixel-ratio: 2;
  $aspect-ratio: '2/3';

  @include mq(
    $min-device-width: $min,
    $max-device-width: $max,
    $orientation: $orientation,
    $device-aspect-ratio: $aspect-ratio,
    $-webkit-device-pixel-ratio: $pixel-ratio
  ) {
    @content;
  }
}

// --- iphone5 -----------------------------------------------------------------

@mixin iphone5($orientation: false) {
  $min: 320px;
  $max: 568px;
  $pixel-ratio: 2;
  $aspect-ratio: '40/71';

  @include mq(
    $min-device-width: $min,
    $max-device-width: $max,
    $orientation: $orientation,
    $device-aspect-ratio: $aspect-ratio,
    $-webkit-device-pixel-ratio: $pixel-ratio
  ) {
    @content;
  }
}

// --- iphone6 -----------------------------------------------------------------

@mixin iphone6($orientation: false) {
  $min: 375px;
  $max: 667px;
  $pixel-ratio: 2;

  @include mq(
    $min-device-width: $min,
    $max-device-width: $max,
    $orientation: $orientation,
    $-webkit-device-pixel-ratio: $pixel-ratio
  ) {
    @content;
  }
}

// --- iphone6 plus ------------------------------------------------------------

@mixin iphone6-plus($orientation: false) {
  $min: 414px;
  $max: 736px;
  $pixel-ratio: 3;

  @include mq(
    $min-device-width: $min,
    $max-device-width: $max,
    $orientation: $orientation,
    $-webkit-device-pixel-ratio: $pixel-ratio
  ) {
    @content;
  }
}

// --- ipad (all) --------------------------------------------------------------

@mixin ipad($orientation: false) {
  $min: 768px;
  $max: 1024px;

  @include mq(
    $min-device-width: $min,
    $max-device-width: $max,
    $orientation: $orientation
  ) {
    @content;
  }
}

// --- ipad-retina -------------------------------------------------------------

@mixin ipad-retina($orientation: false) {
  $min: 768px;
  $max: 1024px;
  $pixel-ratio: 2;

  @include mq(
    $min-device-width: $min,
    $max-device-width: $max,
    $orientation: $orientation,
    $-webkit-device-pixel-ratio: $pixel-ratio
  ) {
    @content;
  }
}

// --- orientation -------------------------------------------------------------

@mixin landscape() {
  @include mq($orientation: landscape) {
    @content;
  }
}

@mixin portrait() {
  @include mq($orientation: portrait) {
    @content;
  }
}

html{
	margin:0;
	scroll-behavior: smooth;
}
*{
	font-family: Calibre,sans-serif;
}
body{
	margin:0;
	padding: 0;
	background:black;
	// animation: colored-fill-body $background-animation-duration infinite;
	animation-delay: 3.1s;
	overflow-y: none;
	transition-delay:0;
}

h1{
	line-height: 51px;
	font-size: 70px}

h2{
	font-size: 50px;
}
p{
	font-size: 18px;
}



/*Menu thanks to https://codepen.io/ettrics/pen/JoaaxW*/


@mixin menuEaseOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

/* HELPERS */

// INPUT
 .input-container{
		  	margin:10px 0;
			input{
				font-size: 20px;
			  	padding:14px 20px;
			  	transition:0.5s;
				@include pink-border;
				&:focus{
					outline: none !important;
					 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
				}
			  }
			  textarea{

				font-size: 20px;
			  	padding:14px 20px;
			  	transition:0.5s;
			  	@include pink-border;
			  	min-height:70px;
			  	width:80%;
			  	&:focus{
					outline: none !important;
					 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
				}
			  }
			}


.dyptique-container{
	width:100vw;
	display: flex;
	justify-content: space-between;
    flex-flow: row wrap;
	.section{
		margin:0;
		height: auto;
		background:white;
		height:100vh;
		position: relative;
		 display: inline-block;
		 margin-bottom: 50px;
		 @media screen and (max-width: 980px) {
				width:400px
	  		}
	}
	.section.left{
		width:39.7%;
		height: 100vh;
		background:white;
		  &:after {
			position: absolute;
			z-index: -1;
			content: "";
			right: -10%;
			top: 0;
			height: 100%;
			width: 100%;
			background-color: inherit;
			-webkit-transform: skewX(-5deg);
			-moz-transform: skewX(-5deg);
			-ms-transform: skewX(-5deg);
			transform: skewX(-5deg);
		}
	}
		.section.right{
			width: 48%;
			margin-left:auto;
			height:100vh;
			
			&:before {
			z-index: -1;
			content: "";
			position: absolute;
			left: -15%;
			top: 0;
			height: 100%;
			width: 100%;
			background-color: inherit;
			-webkit-transform: skewX(-5deg);
			-moz-transform: skewX(-5deg);
			-ms-transform: skewX(-5deg);
			transform: skewX(-5deg);
			}

		}
	
	
	
}


/* END HELPERS */


/*BUTTONS*/
$primary:#FF0072;
$second:#644cad;
$third:#4426a8;

.dark {
  background:#24252A;
}

.flex {
  // min-height:50vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

a.bttn {
  color:$primary;
  text-decoration:none;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
  &:hover {
    color:#000;
  }
  &:focus {
    color:#000;
  }
}

a.bttn-dark {
  color:$second;
  text-decoration:none;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
  &:hover {
    color:#FFF;
  }
  &:focus {
    color:#FFF;
  }
}


.bttn {
  font-size:18px;
  letter-spacing:2px;
  text-transform:uppercase;
  display:inline-block;
  text-align:center;
  width:270px;
  font-weight:bold;
  padding:14px 0px;
  @include pink-border;
  position:relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);

}

.bttn-dark {
  font-size:18px;
  letter-spacing:2px;
  text-transform:uppercase;
  display:inline-block;
  text-align:center;
  width:270px;
  font-weight:bold;
  padding:14px 0px;
  border:3px solid $second;
  border-radius:2px;
  position:relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  z-index:2;
  &:before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    background-color:$second;
    z-index:-1;
  }
  &:hover {
    &:before {
      -webkit-transition:0.5s all ease;
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
    }
  }
  &:focus {
    &:before {
      -webkit-transition:0.5s all ease;
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
    }
  }
}
/*END BUTTONS*/


//* INTRO ANIMATION *//
// Main Wrapper
#barba-wrapper{
	display: none;
}
footer{
	display: none;
}

#loading-mask-container{
	width: 100vw;
	height:100vh;
	position: absolute;
	background-color:white;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0);
	z-index: 1;
	vertical-align: center;

}

$masked-logo-background:black;
$masked-logo-color:white;
#loading-mask-container2{
	// display: none;
	width: 100vw;
	height:100vh;
	position: absolute;
	background-color:$masked-logo-background;
	top:0;
	left:0;
	// background-color: rgba(0,0,0,0);
	z-index: 1;
	vertical-align: center;

}

$box-size: 300;
$border-size: 1;
$speed: 300;

.masked-logo-container-animation{
  display: block;
  width: $box-size + px;
  height: $box-size + px;
  margin: 120px auto;
  
  overflow: hidden;
  cursor: pointer;
  position: relative;
  
  // Close Icon
  // Amazing Border Effect
  span {
    display: block;
    width: ($box-size - $border-size) + px;
    height: ($box-size - $border-size) + px;
    
    position: absolute;
    top: 0;
    left: 0;
    
    transition: all $speed + ms cubic-bezier(0, 1, 1, 1);
    animation: nothing $intro-time ;
    $borders: (
      'top': '#{$box-size}px, 0, 0',
      'right': '0, #{$box-size}px, 0',
      'bottom': '-#{$box-size}px, 0, 0',
      'left': '0, -#{$box-size}px, 0'
    );

    @for $i from 1 through length($borders) {

        $border: nth($borders, $i);
        $direction: nth($border, 1);
        $translate: nth($border, 2);

        &:nth-of-type(#{$i}) {
          border-#{$direction}: $border-size + px solid $masked-logo-color;
          transform: translate3d(#{$translate});
          
          @if($i == 2) or ($i == 4) {
            transition-delay: $speed + ms;
          }
        }
    }
  }

}
@keyframes nothing{
	from{transform:scale(1);};
	to{background-color:$masked-logo-color;}
}

.masked-logo-container{
	display:flex;
	width: 90%;
	height:90%;
}

#masked-logo{
	/*position: absolute;*/
	/*transition: 0.3s;*/
	width: 100%;
	height: auto;
	background-color: $masked-logo-color;
  display: block;
	perspective: 1000;
	filter: blur(.0px);
z-index: 10;
	.path-shape{
		fill:$masked-logo-background;
		stroke-miterlimit:0;
	}
}

/* MENU */
.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  color:black;
  cursor: pointer;
  transform: rotateY(0);
  @include menuEaseOut;
  
  &__patty {
    width: 28px;
    height: 2px;
    margin: 0 0 4px 0;
    background: black;
    @include menuEaseOut;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  // transform burger into 'x'
  &--close {
    transform: rotate(180deg);
    
    .burger__patty {
      &:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -4px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  
  &--active {
    visibility: visible;
  }
  
  &__brand,
  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  
  &__list {
    margin: 0;
    padding: 0;
    background: mix(black, $menu-primary-color, 20);
    list-style-type: none;
    transform: translate3d(0, -100%, 0);
    @include menuEaseOut;
    
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  
  &__brand {
    background: transparent;
    @include menuEaseOut;
    transform: translate3d(0, 100%, 0);
    
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  
  &__item {
    transform: translate3d(500px, 0, 0);
    @include menuEaseOut;
    
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  
  &__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    color: white;
    @include menuEaseOut;
    
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 2px;
      background: white;
      transform: translateX(-50%);
      @include menuEaseOut;
    }
    
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
  
  // add delay to each menu item
  @for $x from 1 through 6 {
    .menu__item:nth-child(#{$x}) {
      transition-delay: $x * .1s;
    }
  }
}

// responsive tablet view
@include tablet {
 ul.menu__list,
 div.menu__brand {
  float: none;
  width: 100%;
  min-height: 0;

   &--active {
     transform: translate3d(0, 0, 0);
   }
 }

 .menu__list {
   height: 75vh;
   transform: translate3d(-100%, 0, 0);
 }

 .menu__link {
    font-size: 24px;
    font-weight: 700;
 }

 .menu__brand {
   height: 25vh;
   transform: translate3d(100%, 0, 0);

// Small verson of logo
   .menu-logo {
     svg{
	     	position: absolute;
		top:0;
		left:0;
		/*transition: 0.3s;*/
		height: 100%;
		background-color: $main-pink;
		
		background:white;
	  	display: block;
		perspective: 1000;
		filter: blur(.0px);
		z-index: 10;
		path{
			animation: menu-light-colored-fill 10s infinite;
		}
	}
   }
 }
}



// @keyframes menu-light-colored-fill{
// 	0%{background:transparentize(red, 0.6)};
// 	25%{background:transparentize(black, 0.6)};
// 	50%{background:transparentize(red, 0.6)};
// 	75%{background:transparentize(black, 0.6)};
// 	100%{background:transparentize(red, 0.6)};
	
// }
@keyframes menu-light-colored-fill{
	0%{fill:  mix(black, $main-pink, 20)};
	5%{fill:transparentize(black, 1)};
	16%{ fill: mix(black, $main-pink, 20);};
	26%{fill:transparentize(black, 1)};
	40%{ fill: mix(black,$main-pink, 20);};
	
	100%{ fill: mix(black, $main-pink, 20);};
}

// Big version of menu logo
  .menu-logo {
  	height: 100%;

     svg{
	     position: absolute;
		top:0;
		left:0;
		/*transition: 0.3s;*/
		height: 100%;
		background-color: transparent;
		// background:white;
	  	display: block;
		filter: blur(.0px);
		z-index: 10;
		path{
			animation:menu-light-colored-fill 10s infinite;
		}		
	}
   }

   .menu-logo--active {
   	@for $i from 0 through 5{
		path:nth-child(#{$i + 1}){
			animation-delay:0.7s *$i;
			}
		}
   }

// make the demo look nice, not required for your own use.



.support {
  position: fixed;
  bottom: 24px;
  color: rgba(black, 0.6);
}

/*END MENU*/


/* FOOTER */
footer{
	.dyptique-container{
		.section{
			background-color: white;
			margin-bottom: 0;
		}
		.section.left{
			height: 30vh;
		}
		.section.right{
			height: 30vh;
		}
	}

}
/*END FOOTER */








.hidding-svg{
	opacity: 0;
	animation-delay: 2.9s;
	display: flex;
	/*width: 100%;*/
	height:100%;
}
.masked-logo-right{
	position: absolute;
	right:0;
	/*transition: 0.3s;*/
	width: 50%;
	height: auto;
	background-color: white;
  display: block;
	perspective: 1000;
	filter: blur(.0px);
z-index: 10;
	.path-shape{
		fill:black;
		stroke-miterlimit:0;
	}


}
.masked-logo-left{
	position: absolute;
	left:0;
	/*transition: 0.3s;*/
	width: 50%;
	height: auto;
	/*background-color: black;*/
	background:white;
  display: block;
	perspective: 1000;
	filter: blur(.0px);
z-index: 10;
	.path-shape{
		
		background:rgba(0,0,0,0);
		stroke-miterlimit:0;
	}

}
.home-container{
	display: flex;
    flex-flow: column wrap;
}
.home-first-section{
	
    flex-flow: column wrap;

}
.home-side-container{
	height:100vh;
	width:47vw;
	 position: absolute;
	  display: inline-block;
	  color: white;
	  /*padding: .24em .3em .25em;*/


}

@keyframes go-left{
	from{left:1.5vw;};
	to{left: -50%;};
}
.left{
		z-index: 10;
		background-color:red;
		&:after {
		z-index:10;
		height: 100vh;
    	width: 20vw;
		position: absolute;
		z-index: -1;
		content: "";
		right: -10%;
		top: 0;
		background-color: inherit;
		-webkit-transform: skewX(-5deg);
		-moz-transform: skewX(-5deg);
		-ms-transform: skewX(-5deg);
		transform: skewX(-5deg);
		}
		svg{
			left:1.5vw;
			position: absolute;
			animation: 2s go-left forwards;
			height:100vh;
			.mpart-big-path{
				fill:white;
			}
			&:after {
				z-index:10;
				height: 100vh;
		    	width: 20vw;
				position: absolute;
				z-index: -1;
				content: "";
				right: -10%;
				top: 0;
				background-color: inherit;
				-webkit-transform: skewX(-5deg);
				-moz-transform: skewX(-5deg);
				-ms-transform: skewX(-5deg);
				transform: skewX(-5deg);
			}
		}
	}
	.right{
		right:0;
		background-color:black;
		&:before {
		height: 100vh;
		width: 20vw;
    	width: 20px;
		z-index: -1;
		content: "";
		position: absolute;
		left: -10%;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: inherit;
		-webkit-transform: skewX(-5deg);
		-moz-transform: skewX(-5deg);
		-ms-transform: skewX(-5deg);
		transform: skewX(-5deg);
	}
	}

#home-first-section-test{
	/*position:relative;*/
	/*position: absolute;*/
	margin-bottom: 12px;
	z-index: 100;
	display: flex;
	width:100vw;
	justify-content: space-between;

    flex-flow: row wrap;
}

@keyframes random-appear{
	from{transform: skewX(-5deg) translateX(30vw);}
	to{transform: skewX(-5deg) translateX(0);}
}
.random-piece{
	animation: random-appear 0.3s forwards;
	animation-delay: 3.4s;
	z-index:10;
		height: 100vh;
    	width: 20vw;
		position: absolute;
		z-index: -1;
		content: "";
		right: -10%;
		top: 0;
		background-color: white;
		-webkit-transform: skewX(-5deg);
		-moz-transform: skewX(-5deg);
		-ms-transform: skewX(-5deg);
		transform: skewX(-5deg) translateX(30vw);
}

@keyframes first-section-in-right{
	from{transform:translateX(120%);opacity:0;}
	to{transform: translateX(0);opacity: 1;}
}
@keyframes first-section-in-left{
	from{transform:translateX(-120%);opacity: 0}
	to{transform: translateX(0);opacity: 1}
}

@keyframes colored-fill{
	0%{fill:black;}
	20%{fill:red;}
	40%{fill:purple;}
	60%{fill:orange;}
	80%{fill:cyan;}
	95%{fill:magenta;}
	100%{fill:black;}
}

@keyframes colored-fill-body{
	0%{background:black;}
	20%{background:red;}
	40%{background:purple;}
	60%{background:orange;}
	80%{background:cyan;}
	95%{background:magenta;}
	100%{background:black;}

}

@keyframes colored-color-span{
	0%{color:black;}
	20%{color:red;}
	40%{color:purple;}
	60%{color:orange;}
	80%{color:cyan;}
	95%{color:magenta;}
	100%{color:black;}

}
@keyframes colored-fill-reverse{
	0%{fill:black;}
	20%{fill:magenta;}
	40%{fill:cyan;}
	60%{fill:orange;}
	80%{fill:purple;}
	95%{fill:red;}
	100%{fill:black;}
}
.left-first-section-test{
	transform:translateX(-120%);
	min-width: 400px;
	animation: first-section-in-left 0.6s forwards ;
	opacity: 0;
	// animation-delay: 3s;
	transition:2s;
	width:45%;
	height:100vh;
	background-color:white;
	position: relative;
	&:after {
		position: absolute;
		z-index: -1;
		content: "";
		right: -10%;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: inherit;
		-webkit-transform: skewX(-5deg);
		-moz-transform: skewX(-5deg);
		-ms-transform: skewX(-5deg);
		transform: skewX(-5deg);
	
		}
	h1{
		    display: block;
    font-weight: bold;
		position:absolute;
		top:100px;
		background:rgba(250,250,250,0);
		z-index: 200;
		 left: 68px;
	    line-height: 51px;
	    font-size: 3em;
	    span{
	    	font-size: 3.2em;
	    }
	    .free-consulation-button{
	    	font-size:3.5em;
	    	border:1px solid black;
	    }
	}
	.first-section-logo-left{

	position: absolute;
	top:0;
	left:0;
	/*transition: 0.3s;*/
	height: 100%;
	/*background-color: black;*/
	background:white;
  	display: block;
	perspective: 1000;
	filter: blur(.0px);
	z-index: 10;
	.m-leg-part{
		animation: colored-fill-reverse $background-animation-duration infinite;
		// animation-delay: 3.1s;
	}

	.m-foot-part{
		animation: colored-fill $background-animation-duration infinite;
		// animation-delay: 3.5s;
	}
	
	}
}

.fade-in{
	transition:2s;
	opacity: 1;

	transform:translateX(0vw)
}
.fade-out{
	transition:1.4s;
	opacity: 0;
	transform:translateX(120vw)
}
.right-first-section-test{
	animation: first-section-in-right 0.6s forwards ;
	opacity: 0;
	// animation-delay: 3s;
	min-width: 400px;
	transform:translateX(120%);
	transition:2s;
	width:43%;
	height:100vh;
	margin-left: auto;
	background-color:white;
	position: relative;
	&:before {
		z-index: -1;
		content: "";
		position: absolute;
		left: -15%;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: inherit;
		-webkit-transform: skewX(-5deg);
		-moz-transform: skewX(-5deg);
		-ms-transform: skewX(-5deg);
		transform: skewX(-5deg);
	}
	.text{

    font-weight: bold;
		position:absolute;
		top:100px;
	h1{
		background:rgba(250,250,250,0);
		z-index: 200;
		 left: 68px;
	    line-height: 51px;
	    font-size: 38px;
	   
	    
	}
	 h2{
	    	font-size: 50px;
	    	margin-top: 10px;
	    	margin-bottom: 10px;
	    }
	    .free-consulation-button{
	    	position: absolute;
	    	border:1px solid black;
	    	padding:10px;
	    }
	}
	.first-section-logo-right{
	
	position: absolute;
	right:0;
	/*transition: 0.3s;*/
	height: 100%;
	/*background-color: black;*/
	background:white;
  	display: block;
	perspective: 1000;
	filter: blur(.0px);
	z-index: 10;
	.path-shape{
		animation-delay:2s;
		animation:black-to-white 1s forwards;
		background:black;
		stroke-miterlimit:0;
		}
	}
}
@keyframes black-to-white{
	from {background:black;}
	to{background:white;}
}

@keyframes white-to-black{
	from {background:white;}
	to{background:black;}
}


#home-second-section-test{
	margin-bottom: 12px;
	z-index: 100;
	display: flex;
	width:100vw;
	justify-content: space-between;

    flex-flow: row wrap;
    @media screen and (max-width: 600px) {
			
  		}
    h2{
			margin-top:2em;
			margin-left:30px;
			margin-right: 30px;
			font-size:2.3em;
		}
	#second-section-left-side{
		margin:0;
		width:39.7%;
		border-left:1px solid black;
		height: auto;
		background:white;
		position: relative;
		 display: inline-block;
		 margin-bottom: 50px;
  @media screen and (max-width: 600px) {
			width:400px
  		}
		ul{
			margin:30px 20px;
			list-style: none;

			@for $i from 1 to length($color-collection) {
			  li:nth-child(#{$i}) {
			  	animation-delay:1s;
			  	// border-left-color: nth($color-collection, $i);
			  	&:after{
			  		border-bottom:3.2px solid nth($color-collection, $i);
			  	}
			      &:hover:after {
			    	border-bottom: 3.2px solid nth($color-collection, $i);
			    	width: 100%;
			    }
			    &:before{

			    }
			    &:hover:before{
					border-right-color:  nth($color-collection, $i);
			    	height: 100%;
			    }
			  }
			}
			// @keyframes show-left-border{
			// 	from{}
			// }

	

			li{
				cursor: pointer;
			    margin: 26px -3px;
			    text-transform: uppercase;
			    font-size: 1.7em;
			    position: relative;
			 
			   
			    &:after{
			    	position: absolute;
			    	transition: 0.4s;
			    	 content: ""; /* This is necessary for the pseudo element to work. */ 
				    // display: block; /* This will put the pseudo element on its own line. */
				    width: 20%; /* Change this to whatever width you want. */
				    // height: 83%;
				     height: 100%;
				     left:0;
				     top:0;
				    // padding-top: 20px; /* This creates some space between the element and the border. */
				    border-bottom: 3.2px solid black; 
			    }
			     &:before{
			     	position: absolute;
			     	transition: 0.4s;
			     	transform: translateX(-3.4px);
			    	content: "";  
			    	// transition-delay:0.3s;
			    	bottom:0;
				    width:100%;
				    height:0;
				    border-right: 3.4px solid ; 
			    }
			}
		}
		&:after {
		position: absolute;
		z-index: -1;
		content: "";
		right: -10%;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: inherit;
		-webkit-transform: skewX(-5deg);
		-moz-transform: skewX(-5deg);
		-ms-transform: skewX(-5deg);
		transform: skewX(-5deg);
	
		}
	}
	#second-section-right-side{
		transition: 2s;	
		min-width: 600px;


		margin:0;
		width: 48%;
		height:auto;
		background:white;
		margin-left:auto;
		position: relative;
		@media screen and (max-width: 980px) {
			width:400px
  		}
		&:before {
		z-index: -1;
		content: "";
		position: absolute;
		left: -15%;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: inherit;
		-webkit-transform: skewX(-5deg);
		-moz-transform: skewX(-5deg);
		-ms-transform: skewX(-5deg);
		transform: skewX(-5deg);
		
	}
		p{
			margin:70px;
			z-index: 3;
		}
		#target{
			border-radius: 50%;
			border:2px solid red;
			position:absolute;
			width:30vw;
			height: 30vw;
			z-index: 2;
		}
	}
}


/* ABOUT PAGE */

// Move this in helpers later

.mono-container{
	// min-height:90vh;
	// width:80vw;
	margin-left: auto;
	margin-right:auto;
	padding:40px;
	flex-flow:column;
	@media screen and (max-width: 768px) {
     	padding:8px;
  	}
	// background-color: white;
	.titles{
		display:table;
		// align-self:flex-start;
		h1,h2{
			display: inherit;
			margin:10px;
			background:white;
			padding:10px;
			
			}
		h1{
			padding:15px
		}
	}
	
	@keyframes change-span-colors{
		2%{color:black}
		10%{color:$main-pink;}
		18%{color:black}
	}
	.about-text-container {
		background: transparent;
	    width: 50vw;
	    @include min-screen(870px) {
  				width:80vw;
	    		margin-left: 60px;
  				// background-color: red;
			}
		.about-text{
			min-height: 80vh;
			min-width: 350px;
		
			width: 600px;
    		// padding: 40px;
    		padding-right:0;
    		@include max-screen(870px) {
  				width:80vw;
  				margin-left:auto;
			}
    		p{
    			font-size: 30px;
    			position: relative;
    			color:black;
			    padding: 40px;
			    text-transform: uppercase;
			    /* background: #fff; */
			    color: white;
				 &:after {
					@include left-after-addon
					width:10%;
					left:-5%;
				
				}
				 &:before {
					@include right-before-addon
					width:10%;
					left:-5%;
					transform: skewX(-5%)

				}

    			span{
    				animation: change-span-colors 10s infinite;
    			}
    			@for $i from 0 to 10 {
				  span:nth-child(#{$i}) {
				  	// color: nth($color-collection, $i)
				  	animation-delay: 0.3s*$i
				}    			
			}
    		}

			@for $i from 0 through 3{
				p:nth-child($i){
					@if $i % 2 == 0 {
						text-align:right;
					}
				}
			}
		// 	&:before {
		// 	z-index: -1;
		// 	content: "";
		// 	position: absolute;
		// 	left: -15%;
		// 	top: 0;
		// 	height: 100%;
		// 	width: 100%;
		// 	background-color: inherit;
		// 	-webkit-transform: skewX(-5deg);
		// 	-moz-transform: skewX(-5deg);
		// 	-ms-transform: skewX(-5deg);
		// 	transform: skewX(-5deg);
		// }
		position: relative;
		
		}
	}
	
	.profile-picture-wrapper{
		height:40vh;
		width:auto;
		background: white;
		#about-profile-picture{
			height: 100px;

		}
	}
}
.about-random-piece{
		background-color: white;
		position: absolute;
		z-index: -1;
		content: "";
		right: 0%;
		top: 0;
		height: 100vh;
		width: 60%;
		-webkit-transform: skewX(-5deg);
		-moz-transform: skewX(-5deg);
		-ms-transform: skewX(-5deg);
		transform: skewX(-5deg);
		.random-piece-svg-container{
			position: relative;
			height:100vh;
			transition:0.6s;
			svg{
				position: absolute;
				top:0;
				right:0;
				/*transition: 0.3s;*/
				height: 100%;
				/*background-color: black;*/
				background:white;
			  	display: block;
				filter: blur(.0px);
				z-index: 10;
				path{
					animation: colored-fill $background-animation-duration infinite;
					animation-delay: 3.1s;
					// animation-delay: 3.1s;
				}

			.p-head-part{
				animation: colored-fill $background-animation-duration infinite;
				// animation-delay: 3.5s;
			}
		}	
	}
}

.contact-us-titles{
		@include titles;
		h1,h2{
			background-color:transparent;
		}
	}
.dyptique-container.about{
	// flex-direction:column-reverse;
	.section.left{
		min-width: 340px;
		@include max-screen(870px){

			height:auto;
			width:85vw;
			h2{
				margin-left:40px;
			}
			p{
				font-size: 30px;
				margin-left:50px;
			}
		}
	}
	.section.right{
			
		min-width: 400px;
	    text-align: center;
	    justify-content: center;
	    height: auto;
	    .contact-form-container{
	// position: absolute;

	// top:0;
	// left:0;
	margin-left: auto;
	// background-color:;
  	// height:100%;
	display:inline-block;
	align-items:center;
	justify-content:center;
	text-align: center;
	padding:30px 0;
	// width:100vw;
	margin-bottom: 40px;
	@include max-screen(870px){
				padding:0;
				width:100%;
	}
	
	.contact-form{
		position: relative;
		@include pink-border;
	  	font-size:18px;
	  	letter-spacing:2px;
	 	text-transform:uppercase;
	  	display:inline-block;
	  	text-align:center;
	  	width:270px;
	  	font-weight:bold;
	  	padding:14px 20px;
	  	margin: 40px 0 ;
	  	margin-bottom: 20px;
	  	// width:100vw;
		@include max-screen(870px){
					border: 0px solid white;
					display: block;
				
		}
		
	  	input{
	  		width:80%;
		}
	}
	@include max-screen(870px){
		.flex{
					display: block;
					-webkit-align-items: left;
					-webkit-justify-content: left;
				    -ms-flex-pack: left;
				    justify-content: left;
				    padding:14px 20px;
				    margin-bottom: 40px;
				a{
					float: left
				}
				}
			}
}

	}
}
